input {
  margin-top: 4%;
  margin-bottom: 4%;
}

label {
  display: block;
  margin-bottom: 3px;
}

select {
  display: block;
  width: 80%;
  margin: 8%;
  margin-top: 4%;
  margin-bottom: 4%;
  border: 1px solid #696969;
  padding: 5px;
}

.update-button {
  background-color: #e69510
}

@media (min-width: 500px) {
  .EditListing {
    max-width: 300px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 10%;
  }

  input {
    border: 1px solid #696969;
    display: block;
    font-size: 1em;
    margin: 0px 0px 25px 0px;
    padding: 20px;
    text-align: left;
    width: 100%;
    max-width: 450px;
  }

  label {
    text-align: left;
    display: block;
    clear: both;
    float: left;
    margin: 0px;
    margin-bottom: 20px;
  }

  select {
    display: block;
    width: 100%;
    margin: 4%;
    margin-left: 0px;
    margin-top: 4%;
    margin-bottom: 4%;
    border: 1px solid #696969;
    padding: 5px;
    max-width: 450px;
  }

  .update__button {
    margin: 10px 0px 10px 0px;
  }

  .update-button {
    width: 25%;
    margin: auto;
  }

  .edit-listing-form {
    padding: 30%;
    padding-top: 0px;
  }

  .login-form {
    margin-top: 10px;
  }
}

@media (min-width: 900px) {
  .EditListing {
    max-width: 1000px;
    margin: auto;
  }
}

