@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  background:
    linear-gradient(
      rgba(255, 255, 255, .5),
      rgba(255, 255, 255, .5)
    ),
    url('./images/laptop1.jpg');
}

button {
  border: 1px solid #3f3f37;
  font-size: 14px;
  padding: 3%;
  margin: 5px;
  background-color: #e69510;
}

.content{
  margin-top: 65px;
}

@media (min-width: 768px) {
  button {
    margin: 5px;
    padding: 1%;
    font-size: 15px;
    cursor: pointer;
  }

  .content {
    padding: 2%;
    margin-top: 25px;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 2%;
    color: white;
  }
}