a {
  text-decoration: none;
}

li {
  list-style: none;
}

.JobListing {
  border: 1px solid black;
  width: 85%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 450px;
  background-color: #d1d1d1;
}

.JobListing:hover {
  background-color: #e69510;
  border: 1px solid #e69510;
}

.joblisting-link {
  color: black;
}

.joblisting-link:visited {
  color: black;
}