a {
  text-decoration: none;
}

li {
  list-style: none;
}

.JobListing {
  border: 1px solid black;
  width: 85%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.JobListing:visited {
  color: black;
}